@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .btn {
    @apply outline-none max-md:text-sm inline-block py-1 px-3 sm:px-5 bg-transparent hover:shadow-md transition-all hover:bg-slate-500 hover:text-white focus:bg-slate-500 focus:text-white font-medium shadow-sm shadow-gray-300 text-[#323223] rounded-md cursor-pointer;
  }
  .custom-radio {
    @apply absolute top-0 left-0 w-5 h-5 bg-[#eee] rounded-full after:rounded-full peer-checked:bg-slate-500 peer-checked:after:block peer-hover:bg-[#ccc] after:contents after:top-1.5 after:left-1.5 after:w-2 peer-checked:shadow-sm peer-checked:shadow-gray-600 after:h-2 after:absolute after:bg-white;
  }
}

@layer utilities {
  .max-container {
    @apply lg:max-w-[calc(100%_-_9rem)] xl:max-w-[calc(100%_-_15rem)] lg:pl-14 lg:pr-8 px-6 w-full lg:ml-auto;
  }
}
